@import url("https://fonts.googleapis.com/css?family=Lato:400,700");


/* Start of navbar */
#title {

  color: black;

}

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;

}

#logo {

height: 80%;
float:left;


}
.fa-instagram, .fa-twitter {

font-size: 2rem;
padding: 25px;
float: right;
margin-top: 15px;
color: black

}



.fixed-nav-bar {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9999;
width: 100%;
height: 100px;
background-color: #fff;
border-bottom: 0.2px solid black;

}

/* The element at the top of the page right after the fixed navigation bar
 MUST have sufficient top margin or else it will be covered by the bar */

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a {
height: 50px;
line-height: 50px;
margin-left: 5px;

}
.menu {
width: 90%;
max-width: 960px;
margin: 0 auto;

}
.menu a, .menu a:visited {
color: black;
}
.menu a:hover, .menu a:target {
color: black;
}
.menu-items {
display: inline-block;

}
.sitename {
display: inline-block;
margin-right: 50px;
margin-left: 10px;
}
a.sitename, a:visited.sitename {
color: #e0e0e0;
}
.menu-items li {
display: inline-block;
margin-left: 20px;
margin-top: 30px;

font-size: 1.29rem;

}
.menu-items a {
text-decoration: none;
}


.hide {
background: url(up-arrow-icon.png) no-repeat center left;


}
#menuu {

  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 15px;



}

.show, .hide {
display: none;
padding-left: 15px;
background-color: transparent;
background-position: center left;
background-repeat: no-repeat;
color: #dde1e2;
}

@media only screen and (max-width: 800px) {







.fa-instagram, .fa-twitter {
  font-size: 2rem;
  float: left;


}

.menu {
  position: relative;
  width: 100%;
}
.sitename {
  position: absolute;
  top: 0;
  left: 15px;
  margin-left: 0px;
}
.menu-items {
  display: none;
  width: 100%;
  background-color: white;
}
.menu-items li {
  display: block;
  text-align: center;

}
.show, .hide, #menuu {
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 1.3rem;
}
.show {
  display: inline;
}
.hide {
  display: none;
}
#menu:target .show {
  display: none;
}
#menu:target .hide, #menu:target .menu-items {
  display: inline-block;
}
}

@media only screen and (max-width: 220px) {
.sitename, .show, .hide {
  font-size: 14px;
}
}



/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  margin-top: 50px;
  min-height: calc(100vh - 60px);
  background: url("blackagain.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 1.5rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;



}


.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--mainWhite);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainBlack);
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}



/* ---------------End of Products ---------------- */

/*------- MODAL ------ */

.modal-title, .modal-body {
  color: black;
}

.list {

  margin-left: 9px;
}
